// COLOR SYSTEM
$primarycolor: black;
$secondarycolor: grey;
$thristycolor:white;
$bgcolor: rgb(226, 108, 108);
// UTILITIES
$styleless: none;
$bordrad: 10px;
// TYPOGRAPHY
$primaryfont: "LatoRegular";
$secondaryfont: sans-serif;
