// COLOR SYSTEM
$primary-color: black;
$secondary-color: grey;
$thristy-color:white;
$bg-color: rgb(226, 108, 108);
// UTILITIES
$style-less: none;
$bord-rad: 10px;
// TYPOGRAPHY
$primary-font: "LatoRegular";
$secondary-font: sans-serif;
