@use "../abstracts/_variables.scss" as vstyle;


.container {
    .cadrerose {
        display: flex;
        background-color: vstyle.$bgcolor;
        border-radius: vstyle.$bordrad;
        box-shadow: 0 2px 2px vstyle.$secondarycolor;
        position: relative;
        align-items: center;
        overflow: hidden;
        width: 100%;
        padding: 4vh;
    }

    .banner-image {   
        margin: 0 10% -20% 0;
        position: relative;
        
        img {
            width: 100%;
            margin: 0;
        }
    }
}

#end-banner {
    .container {
        .cadrerose {
            margin-bottom: -25vh;
            position: relative;
            .container-text {
                width: 50%;
            }
            .container-button {
                width: 50%;
                text-align: center;
            }
        }
    }
}