@use "../abstracts/variables" as vstyle;

.card {
    
    &.card-demi {
        display: flex;
        flex-direction: column;
        height: 25vh;
        width: 50%;
    }

        &.card-primary {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/homme-assis-batiment.jpg);
        display: flex;
        height: 50vh;
        width: 50%;
    }
        &.card-secondary {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/passport.jpg);
    }
        &.card-thirsty {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/montgolfiere.jpg);
    }

}