@use "../abstracts/variables" as vstyle;

.container-card {
    display: flex;
    gap: 1rem;

    .card-left, .card-right {
        width: 50%;
    }

    .card-right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}