@use "../abstracts/fonts" as vfont;
@use "../abstracts/variables" as vstyle;

body {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-family: vstyle.$primaryfont, vstyle.$secondaryfont;
}

h2 {
    font-size: 5vh;
}

.container {
    margin: 10vh auto;
    width: 65%;
    position: relative;
}

a {
    text-decoration: vstyle.$styleless;
}

.logo {
    width: 20vh;
    img {
        width: 100%;
    }
}


