@use "../abstracts/fonts" as vfont;
@use "../abstracts/variables" as vstyle;

body {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-family: vstyle.$primary-font, vstyle.$secondary-font;
}

h1 {
    font-size: 6vh;
    color: vstyle.$thristy-color;
    padding: 3vh;
}

h2 {
    font-size: 5vh;
}

a {
    text-decoration: vstyle.$style-less;
}

p {
    font-size: 2vh;
}



