@use "../abstracts/fonts" as vfont;
@use "../abstracts/variables" as vstyle;

body {
    background-image: url(../img/wave.svg);
    background-size: cover;
    margin: 0 auto;
    font-family: vfont.$primaryfont;
}

.container {
    margin: 4vh auto;
    width: 65%;
    position: relative;
}
.container-card {
    display: flex;
    gap: 1vh;
    h3 {
        color: vstyle.$thristycolor;
        text-transform: uppercase;
    }
    .services-card-horizontal {
        display: flex;
        .card {
            display: flex;
            width: 70vh;
            height: 51vh;
        }
        .card-primary {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/homme-assis-batiment.jpg);
            background-size: cover;
            background-position: 0;
        }
    }
    .services-card-vertical {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        .card {
            display: flex;
            width: 69vh;
            height: 25vh;
        }
            .card-secondary {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/passport.jpg);
                background-size: cover;
                background-position: 0;
            }
            .card-thirsty {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/montgolfiere.jpg);
                background-size: cover;
                background-position: 0;
            }
    }
    
}   

.card {
    box-shadow: 0 2px 2px grey;
    align-items: center;
    justify-content: center;
    border-radius: vstyle.$bordrad;
    flex-direction: column;
    p {
        color: vstyle.$thristycolor;
    }
    p::after {
        content: ">";
        color: rgb(226, 108, 108);
    }
}