@use "../abstracts/fonts" as vfont;
@use "../abstracts/variables" as vstyle;

body {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-family: vfont.$primaryfont;
}

h2 {
    margin-top: 10vh;
    font-size: 36px;
}
.container {
    margin: 4vh auto;
    width: 65%;
    position: relative;
}


