@use "../abstracts/variables" as vstyle;
* {
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .header-list {
        .list {
            display: flex;
            list-style: vstyle.$styleless;
            gap: 4vh;
            
            .menu-item {
                color: vstyle.$secondarycolor;
            }

            .menu-item-active {
                color: vstyle.$primarycolor;
            } 
        }
    }
    .menu {
        display: none;
    }
}
