* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header .header-list .list {
  display: flex;
  list-style: none;
  gap: 4vh;
}
header .header-list .list .menu-item {
  color: grey;
}
header .header-list .list .menu-item-active {
  color: black;
}
header .header-list .list a {
  text-decoration: none;
}
header .menu {
  display: none;
}

.logo {
  width: 20vh;
}
.logo img {
  width: 100%;
}

@font-face {
  font-family: "LatoRegular";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
body {
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  font-family: "LatoRegular";
}

h2 {
  margin-top: 10vh;
  font-size: 36px;
}

.container {
  margin: 4vh auto;
  width: 65%;
  position: relative;
}

.container .cadrerose {
  display: flex;
  background-color: rgb(226, 108, 108);
  border-radius: 10px;
  box-shadow: 0 2px 2px grey;
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.container .cadrerose * {
  margin: 4vh;
}
.container .cadrerose h1,
.container .cadrerose p {
  color: white;
  width: 80%;
}
.container .banner-image {
  margin: 0 10% 0 0;
  position: relative;
  transform: translateY(8vh);
}
.container .banner-image img {
  width: 100%;
  margin: 0;
}

#end-banner .container .cadrerose {
  align-items: center;
  transform: translateY(20vh);
  margin-top: -20vh;
  justify-content: space-evenly;
  position: relative;
}
#end-banner .container .cadrerose .container-text {
  width: 50%;
}
#end-banner .container .cadrerose .container-button {
  width: 50%;
  position: relative;
  top: 50%;
}

.btn {
  color: black;
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  text-decoration: none;
  padding: 1vh;
}

.container-card {
  display: flex;
  gap: 1vh;
  width: 100%;
}
.container-card h3 {
  color: white;
  text-transform: uppercase;
}
.container-card .services-card-horizontal {
  display: flex;
  width: 50%;
}
.container-card .services-card-horizontal .card {
  display: flex;
  width: 70vh;
  height: 51vh;
}
.container-card .services-card-horizontal .card-primary {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/homme-assis-batiment.jpg);
  background-size: cover;
  background-position: 0;
}
.container-card .services-card-vertical {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 50%;
}
.container-card .services-card-vertical .card {
  display: flex;
  height: 25vh;
}
.container-card .services-card-vertical .card-secondary {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/passport.jpg);
  background-size: cover;
  background-position: 0;
}
.container-card .services-card-vertical .card-thirsty {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/montgolfiere.jpg);
  background-size: cover;
  background-position: 0;
}

.card {
  box-shadow: 0 2px 2px grey;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
}
.card p {
  color: white;
}
.card p::after {
  content: ">";
  color: rgb(226, 108, 108);
}

#features .container h2 {
  text-align: end;
}
#features .container .fiches {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
}
#features .container .fiches .fiches-item {
  width: 23%;
}
#features .container .fiches .fiches-item svg {
  width: 25%;
}

footer {
  background-color: rgb(32, 32, 32);
  padding-top: 18vh;
  width: 100%;
}
footer .end-nav {
  display: flex;
  justify-content: space-around;
}
footer .end-nav .footer-list .list {
  display: flex;
  list-style: none;
  gap: 4vh;
}
footer .end-nav .footer-list .list .menu-item {
  color: grey;
}
footer .end-nav .footer-list .list .menu-item-active {
  color: white;
}
footer .end-nav .footer-list .list a {
  text-decoration: none;
}
footer .container {
  margin-bottom: 0;
  border-top: 1px solid grey;
}
footer .container .end-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .end-list .list {
  list-style: none;
  gap: 4vh;
  padding: 0;
}
footer .container .end-list li:first-child {
  color: white;
}
footer .container .end-list li:not(:first-child) {
  color: grey;
}
footer .container .end-list .rs {
  display: flex;
  list-style: none;
  gap: 1vh;
}

@media screen and (max-width: 768px) {
  .header .header-list {
    display: none;
  }
  .header .menu {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
