@use "../abstracts/variables" as vstyle;

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    h3 {
        color: vstyle.$thristycolor;
        text-transform: uppercase;
    }
}

#services {
    p {
        color: vstyle.$thristycolor;
    }
    p::after {
        content: ">";
        color: rgb(226, 108, 108);
    }
}

.cadrerose {
    h1, p {
        color: vstyle.$thristycolor;
        width: 80%;
        padding: 3vh;
    }
    a {
        margin-left: 3vh;
    }
}

.services-card-horizontal {
    width: 50%;
}

.services-card-vertical {
    width: 50%;
}